sudo: false
language: node_js
node_js:
  - "0.11"
  - "0.10"
before_script: 
 - npm install -g istanbul
 - npm install -g codeclimate-test-reporter
script: istanbul cover -v test/run.js 
after_script:
 - codeclimate < coverage/lcov.info
addons:
 code_climate:
  repo_token: 1ac34200abf15952bc81e3b93f1482339a312ae8ee1d0f3b64b41d79e5d8993b
matrix:
 allow_failures:
 - node_js: "0.11"